<section class="container">

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Item</th>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each cartProducts}}
            <tr>

                <td><img width="100px" , height="100px" src="/product-images/{{this.result._id}}.jpg" alt=""></td>
                <td>{{this.result.name}}</td>

                <td>
                    <div class="cart-item-controls">
                        <button class="cart-item-count"
                            onclick="changeQuantity('{{this._id}}','{{this.result._id}}',-1)">-</button>
                        <p id="proQuantity-{{this.result._id}}">{{quantity}}</p>
                        <button class="cart-item-count"
                            onclick="changeQuantity('{{this._id}}','{{this.result._id}}',+1)">+</button>
                    </div>
                </td>
                <td><a href="" class="btn btn-danger" onclick="return confirm('Are you sure?')">Remove</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</section>